<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary text-decoration-none fw-bold fs-2" style="font-size: 1.5rem;">
        Habitat Connect
      </a>
      
      <div class="col-md-3 text-end" style="font-size: 0.9rem;">
        <a href="/login" type="button" class="btn btn-outline-primary me-2">Log In</a>
        <a href="/register" type="button" class="btn btn-primary">Register</a>
      </div>
    </header>
  </div>