<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary text-decoration-none fw-bold fs-2" style="font-size: 1.5rem;">
        Habitat Connect
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="font-size: 1rem;">
        <li><a href="/dashboard" class="nav-link px-2 link-secondary">Announcements</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Calendar</a></li>
        <li><a href="/checker" class="nav-link px-2 link-dark">Laundry Checker</a></li>
        <li><a href="/maintenance" class="nav-link px-2 link-dark">Maintenance Requests</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end" style="font-size: 0.9rem;">
        <a href="/auth/google" type="button" class="btn btn-outline-primary me-2">Sign Up</a>
        <a href="/auth/google" type="button" class="btn btn-primary">Sign In</a>
      </div>
    </header>
  </div>