<div class="container-fluid">
    <ul class="nav flex-column">
        <li class="nav-item"><a href="/dashboard" class="nav-link px-2 link-dark">
                <img src="/img/announcement.png" alt="Announcement" width="24" height="24"
                    class="d-inline-block align-text-top"> Announcements</a></li>
        <li class="nav-item"><a href="/calendar" class="nav-link px-2 link-dark">
                <img src="/img/calendar.png" alt="Calendar" width="24" height="24"
                    class="d-inline-block align-text-top"> Calendar</a></li>
        <li class="nav-item"><a href="/checker" class="nav-link px-2 link-dark">
                <img src="/img/washer.png" alt="Washer" width="24" height="24"
                    class="d-inline-block align-text-top"> Laundry Checker</a></li>
        <li class="nav-item"><a href="/maintenance" class="nav-link px-2 link-dark">
                <img src="/img/maintenance.png" alt="Maintenance" width="24" height="24"
                    class="d-inline-block align-text-top"> Maintenance Requests</a></li>
        <li class="nav-item"><a href="/profile" class="nav-link px-2 link-dark">
                <img src="/img/profile.jpeg" alt="Profile" width="24" height="24"
                    class="d-inline-block align-text-top"> Profile</a></li>
    </ul>
</div>