<div class="container-fluid">
    <ul class="nav flex-column">
        <li class="nav-item"><a href="/dashboard" class="nav-link px-2 link-secondary">Announcements</a></li>
        <li class="nav-item"><a href="/calendar" class="nav-link px-2 link-dark">Calendar</a></li>
        <li class="nav-item"><a href="/checker" class="nav-link px-2 link-dark">Laundry Checker</a></li>
        <li class="nav-item"><a href="/maintenance" class="nav-link px-2 link-dark">Maintenance Requests</a></li>
        <p>An icon would be nice. One for pfp, another for home... idk, you decide</p>
        <li class="nav-item"><a href="/profile" class="nav-link px-2 link-dark">Profile</a></li>
    </ul>
</div>
