<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Add announcement</li>
                </ol>
            </nav>

            <div class="col d-flex justify-content-between align-item-center">
                <h3 class="h3">Add Announcement</h3>
            </div>
            <p>Your announcement should contain an appropriate title and fitting text to describe your event / announcement</p>
        </div>
    </div>

    <div class="row">

        <% if (error) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>

        <form action="/dashboard/add-ann" method="POST" class="col-md-10">
            <div class="form-group mb-4">
                <input type="text" class="form-control fw-bold border-0 fs-4" id="title" name="title" placeholder="Title" required>
            </div>

            <div class="form-group mb-4">
                <textarea class="form-control fs-4" name="body" id="body" rows="10" placeholder="Body" required></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Post Announcement</button>
            </div>

        </form>
    </div>
</div>