<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    We are not sure what you are looking for...
                </h1>
                <p class="fs-4 mb-4">
                    404 Page Not Found
                </p>

                <h1>LAURA: doesn't make sense that we go to announcements</h1>
                <a href="/" class="btn btn-primary btn-lg">
                    Announcements
                </a>
            </div>

        </div>
    </main>
</div>